 <div class="container padded">
 <h2 class="text-center">Our team</h2>
  <div class="row">
    <% data.team.each do |member, infos| %>
      <div class="col-md-4 list-inline text-center">
        <div class="card">
          <%= image_tag infos.picture, class: "avatar-xl" %>
          <h3><%= member.capitalize %></h3>
          <p><%= infos.role %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
